<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="ssm_crud" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="admin" />
        <option name="url" value="localhost:3306" />
        <option name="userName" value="admin" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="ssm_crud" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="admin" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="admin" />
        </NewDatabaseInfo>
      </list>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="javaMapperPackage" value="com.inofd.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.inofd.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="BookShop-Servlet" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="BookShop-Servlet">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.inofd.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.inofd.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.inofd.service" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="ssm_crud:tbl_dept">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="dept_id" />
                  <option name="javaModelName" value="TblDept" />
                  <option name="moduleName" value="BookShop-Servlet" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useExample" value="true" />
        <option name="useLomBokOnModel" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>